@import 'https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Montez&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap';

*{
margin: 0;
padding: 0;
color: #34495e;
font-family: Montserrat, 'Century Gothic', sans-serif;
font-style: normal;
list-style-type: none;
text-decoration: none;
border: none;
border-collapse: collapse;
outline: none;
box-sizing: content-box;
}

html,body,main,section{
height: 100%;
background-color: #F6F6FD;
}

body a#voltarParaOTopo{
position: fixed;
bottom: 20px;
right: 20px;
width: 60px;
height: 60px;
background-color: #4C89F8;
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
box-shadow: 0 0 10px;
z-index: 3;
}

body a#voltarParaOTopo i{
color: #fff;
}

header{
position: fixed;
background-color: #fffffff3;
display: flex;
justify-content: center;
box-shadow: 0 0 5px;
height: auto;
z-index: 2;
width: 100%;
top: 0;
}

header h1{
margin: 20px;
display: flex;
align-items: center;
width: 350px;
}

header h1 i{
color: #fff;
font-size: 10px;
background-color: #4C89F8;
border-radius: 50%;
width: 15px;
height: 15px;
display: inline-block;
text-align: center;
}

header h1 span{
display: inline-block;
}

header nav{
height: 100%;
width: 100%;
text-align: right;
margin-right: 20px;
}

header nav ul li{
display: inline-block;
height: 100%;
}

header nav ul li a{
display: flex;
height: 100%;
align-items: center;
font-weight: bold;
padding: 30px 10px;
text-transform: uppercase;
justify-content: center;
}

header nav ul li a:hover{
background-color: #F6F6FD;
}

header nav a#menuHamburguer{
display: none;
width: 40px;
height: 40px;
margin: 20px;
position: absolute;
right: 0;
top: 0;
cursor: pointer;
}


header nav a#menuHamburguer span{
display: block;
width: 100%;
height: 5px;
background-color: #34495e;
margin: 6px 0;
transition: .4s;
}

main section{
width: 80%;
height: auto;
text-align: center;
padding: 50px 0;
margin: auto;
position: relative;
}

main section:nth-child(2n){
background-color: #fff;
width: 100%;
}

main section picture{
display: block;
width: 200px;
height: 200px;
margin: 80px auto 0;
box-shadow: 0 0 10px;
border-radius: 50%;
overflow: hidden;
position: relative;
}

main section picture:before{
content:'';
position: absolute;
width: 200px;
height: 200px;
border-top: 4px solid #4C89F8;
border-radius: 50%;
top: 0;
left: 0;
animation: bordaCircular 3s linear infinite;
}

main section picture:hover img{
transform: scale(1.1);
}

main section picture img{
display: block;
width: 100%;
height: 100%;
border-radius: 50%;
transition: .3s;
}

main section h1{
text-transform: uppercase;
color: #4C89F8;
margin: 10px 0 20px 0;
}

main section h1 i{
text-transform: lowercase;
color: #444;
}

main section p#digitando{
color: #000;
font-weight: bold;
font-size: 30px;
position: absolute;
display: block;
margin:  20px auto;
left: 0;
overflow: hidden;
padding: 0 10px;
width: 100%;
}

main section p#digitando span#apaixonado{
color: #4C89F8;
position: relative;
}

main section p#digitando span#apaixonado:after{
content:'';
position: absolute;
border-bottom: 3px solid #4C89F8;
width: 10px;
bottom: 5px;
}

main section article{
margin: 250px 20px 0;
}

main section article p{
color: #000;
font-weight: normal;
font-size: 20px;
text-align: justify;
margin: 20px 0;
word-spacing: -2px;
}

main section article p span{
font-weight: bold;
color: #4C89F8;
}

main section#projetos ul{
display: block;
justify-content: center;
}

main section#projetos ul li{
width: 300px;
height: 200px;
border: 2px solid #4C89F8;
margin: 10px;
border-radius: 10px;
position: relative;
box-shadow: 0 0 5px;
overflow: hidden;
display: inline-block;
}

main section#projetos ul li:hover a{
border-radius: 0 0 120px 0;
}

main section#projetos ul li i{
position: absolute;
right: 10px;
bottom: 10px;
color: #4C89F8;
z-index: 0;
}

main section#projetos ul li a{
background-color: #F6F6FD;
width: 100%;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
transition: .3s;
box-shadow: 0 0 1px;
color: #444;
font-weight: bold;
position: relative;
z-index: 1;
}

/*Projeto do Quinto Andar*/
main section#projetos ul li:first-child a{
background: url(../img/projeto_quintoandar.png) no-repeat center;
background-size: contain;
}


main section#habilidades ul{
width: 80%;
margin: 20px auto;
}

main section#habilidades ul li{
border: 1px solid #4C89F8;
width: 50px;
height: 50px;
display: inline-block;
border-radius: 10px;
text-align: center;
overflow: hidden;
padding: 5px;
box-shadow: 0 0 3px #4C89F8;
background-color: #fff;
margin: 5px;
}

main section#habilidades ul li i{
display: flex;
justify-content: center;
align-items: center;
font-size: 50px;
}

main section#habilidades ul li i.fa-js{
color: #EFD81D;
}

main section#habilidades ul li i.fa-git-alt{
color: #E84D31;
}

main section#habilidades ul li i.fa-bootstrap{
color: #722DF9;
}

main section#habilidades ul li i.fa-github{
color: #1A1D22;
}

main section#habilidades ul li i.fa-database{
color: #DE3029;
}

main section#habilidades ul li i.fa-php{
color: #4F5B93;
}

main section#habilidades ul li i.fa-python{
color: #356FA0;
}

main section#habilidades ul li i.fa-figma{
color: #0AC87E;
}

main section#habilidades ul li i.fa-windows{
color: #0982D9;
}

main section#habilidades ul li i.fa-node-js{
color: #417E38;
}

main section#habilidades ul li i.fa-linux{
color: #000;
}

main section#habilidades ul li i.fa-jira{
color: #1868DB;
}

main section#habilidades ul li i.fa-aws{
color: #FF9700;
}

main section#habilidades ul li i.fa-html5{
color: #DD4B25;
}

main section#habilidades ul li i.fa-css3-alt{
color: #254BDD;
}

main section#servicos ul{
display: block;
justify-content: center;
}

main section#servicos ul li{
width: 300px;
height: 300px;
margin: 10px;
border-radius: 10px;
position: relative;
box-shadow: 0 0 5px;
overflow: hidden;
display: inline-block;
line-height: 30px;
transition: .3s;
background-color: #F6F6FD;
}

main section#servicos ul li:hover{
transform: scale(1.08);
box-shadow: 0 0 10px;
}

main section#servicos ul li h2{
text-transform: uppercase;
display: block;
width: 100%;
padding: 10px 0;
background-color: #4C89F8;
color: #fff;
}

main section#servicos ul li p{
padding: 10px 20px;
text-align: justify;
}

main section#contatos{
padding: 50px 0 160px;
position: relative;
width: 100%;
}

main section#contatos table{
margin: auto;
}

main section#contatos table tbody tr th,td{
padding: 10px 0;
text-align: left;
}

main section#contatos table tbody tr th i.fa-envelope{
color: #194AB9;
}

main section#contatos table tbody tr th i.fa-github{
color: #000;
}

main section#contatos table tbody tr th i.fa-linkedin{
color: #0A63BC;
}

main section#contatos table tbody tr th i.fa-whatsapp{
color: #00D054;
}

footer{
background-color: #4C89F8;
position: absolute;
left: 0;
bottom: -50px;
width: 100%;
padding: 20px 0;
}

footer p{
color: #fff;
margin: 20px 0;
}

footer span{
color: #fff;
}

@keyframes bordaCircular{

from {transform: rotate(0deg)}
to {transform: rotate(360deg)}

}


@media screen and (max-width: 864px){

header{
height: 80px;
overflow: hidden;
}

header.exibirMenu{
height: auto;
background-color: #fff;
}


header h1{
position: absolute;
left: 0;
}

header nav{
margin-top: 80px;
padding: 0;
margin-right: 0;
}

header nav a#menuHamburguer{
display: block;
}

/* HAMBURGUER COM SETA PARA BAIXO*/
header nav a#menuHamburguer span.exibirSeta:first-child{
transform: rotate(45deg);
position: absolute;
left: -13px;
bottom: 0;
}

header nav a#menuHamburguer span.exibirSeta:nth-child(2){
display: none;
}

header nav a#menuHamburguer span.exibirSeta:last-child{
transform: rotate(-45deg);
position: absolute;
right: -13px;
bottom: 0;
}

header nav ul li{
display: block;
}

main section{
width: 100%;
}

main section p#digitando{
width: 97%;
}

}