@import 'https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Montez&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap';

*{
margin: 0;
padding: 0;
color: #34495e;
font-family: Montserrat, 'Century Gothic', sans-serif;
font-style: normal;
list-style-type: none;
text-decoration: none;
border: none;
border-collapse: collapse;
outline: none;
box-sizing: content-box;
}

body{
background-color: #F6F6FD;
}

header{
background-color: #fff;
display: flex;
justify-content: center;
box-shadow: 0 0 5px;
height: 80px;
}

header h1{
margin: 20px;
display: flex;
align-items: center;
width: 100%;
}

header h1 i{
color: #fff;
font-size: 10px;
background-color: #4C89F8;
border-radius: 50%;
width: 15px;
height: 15px;
display: inline-block;
text-align: center;
}

header nav a#menuHamburguer{
display: block;
width: 40px;
height: 40px;
margin: 20px;
position: absolute;
right: 0;
top: 0;
}


header nav a#menuHamburguer span{
display: block;
width: 100%;
height: 5px;
background-color: #34495e;
margin: 6px 0;
transition: .4s;
}

/* HAMBURGUER COM SETA PARA BAIXO*/
header nav a#menuHamburguer span.exibirSeta:first-child{
transform: rotate(45deg);
position: absolute;
left: -13px;
bottom: 0;
}

header nav a#menuHamburguer span.exibirSeta:nth-child(2){
display: none;
}

header nav a#menuHamburguer span.exibirSeta:last-child{
transform: rotate(-45deg);
position: absolute;
right: -13px;
bottom: 0;
}

header nav ul{
border: 1px solid;
display: block;
width: 100%;
}