@import 'https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Montez&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap';

*{
margin: 0;
padding: 0;
color: #34495e;
font-family: Montserrat, 'Century Gothic', sans-serif;
font-style: normal;
list-style-type: none;
text-decoration: none;
border: none;
border-collapse: collapse;
outline: none;
box-sizing: content-box;
}

body{
background-color: #F6F6FD;
}

header{
background-color: #fff;
display: flex;
justify-content: center;
box-shadow: 0 0 5px;
height: auto;
}

header h1{
margin: 20px;
display: flex;
align-items: center;
width: 350px;
}

header h1 i{
color: #fff;
font-size: 10px;
background-color: #4C89F8;
border-radius: 50%;
width: 15px;
height: 15px;
display: inline-block;
text-align: center;
}

header h1 span{
display: inline-block;
}

header nav{
height: 100%;
width: 100%;
text-align: right;
margin-right: 20px;
}

header nav ul li{
display: inline-block;
height: 100%;
}

header nav ul li a{
display: flex;
height: 100%;
align-items: center;
font-weight: bold;
padding: 30px 10px;
text-transform: uppercase;
justify-content: center;
}

header nav ul li a:hover{
background-color: #F6F6FD;
}

header nav a#menuHamburguer{
display: none;
width: 40px;
height: 40px;
margin: 20px;
position: absolute;
right: 0;
top: 0;
cursor: pointer;
}


header nav a#menuHamburguer span{
display: block;
width: 100%;
height: 5px;
background-color: #34495e;
margin: 6px 0;
transition: .4s;
}

html,body,main{
height: 100%;
}

main section{
width: 80%;
height: auto;
text-align: center;
padding: 50px 0 0;
margin: auto;
position: relative;
}

main section picture{
display: block;
width: 200px;
height: 200px;
margin: auto;
box-shadow: 0 0 10px;
border-radius: 50%;
overflow: hidden;
position: relative;
}

main section picture:before{
content:'';
position: absolute;
width: 200px;
height: 200px;
border-top: 4px solid #4C89F8;
border-radius: 50%;
top: 0;
left: 0;
animation: bordaCircular 3s linear infinite;
}

main section picture:hover img{
transform: scale(1.1);
}

main section picture img{
display: block;
width: 100%;
height: 100%;
border-radius: 50%;
transition: .3s;
}

main section h1{
text-transform: uppercase;
color: #4C89F8;
margin: 10px 0 20px 0;
}

main section h1 i{
text-transform: lowercase;
color: #ccc;
}

main section p#digitando{
color: #000;
font-weight: bold;
font-size: 30px;
position: absolute;
display: block;
margin:  20px auto;
left: 0;
}

main section p#digitando span#apaixonado{
color: #4C89F8;
position: relative;
}

main section p#digitando span#apaixonado:after{
content:'';
position: absolute;
color: #4C89F8;
border-bottom: 3px solid #4C89F8;
width: 10px;
bottom: 5px;
}

main section article{
margin: 240px 20px 0;
}

main section article p{
color: #000;
font-weight: normal;
font-size: 20px;
text-align: justify;
margin: 20px 0;
word-spacing: -2px;
}

main section article p span{
font-weight: bold;
color: #4C89F8;
}


@keyframes bordaCircular{

from {transform: rotate(0deg)}
to {transform: rotate(360deg)}

}


@media screen and (max-width: 864px){

header{
height: 80px;
overflow: hidden;
}

header.exibirMenu{
height: auto;
}


header h1{
position: absolute;
left: 0;
}

header nav{
margin-top: 80px;
padding: 0;
margin-right: 0;
}

header nav a#menuHamburguer{
display: block;
}

/* HAMBURGUER COM SETA PARA BAIXO*/
header nav a#menuHamburguer span.exibirSeta:first-child{
transform: rotate(45deg);
position: absolute;
left: -13px;
bottom: 0;
}

header nav a#menuHamburguer span.exibirSeta:nth-child(2){
display: none;
}

header nav a#menuHamburguer span.exibirSeta:last-child{
transform: rotate(-45deg);
position: absolute;
right: -13px;
bottom: 0;
}

header nav ul li{
display: block;
}

main section{
width: 100%;
}

}